body{
    background-color: white;
}
header{
    background-image:url('images/layer3.svg') ;
    height: 30vh;
    width: 100vw;
    display: block;

    
}
.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.spacer2{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10;
}
.layer1{
    background-image: url('images/layer4.svg');
    }
    .layer2{
    background-image: url('images/layer3.svg');
    }
    .layer3{
background-image: url('images/bla.svg');
    }
#first{
    animation-name: name;
    animation-duration: 4s;
    font-size: 70px;


}
@keyframes name{
    0%{
        margin-left: 50%;
        color: red;
    }
    25%{
        color: green;
        font-size: 30px;
    }
    50%{
        color: blue
        font-size: 45px;
    }
    75%{
        color: violet;
        font-size: 70px;

    }
    100%{
        color: black;
        font-size: 60;
    }
}
#second{
    animation-name: second;
    animation-duration: 4s;
    font-size: 40px;
    margin-right: 0%;
    color: deepskyblue;

    
}
@keyframes second{
    0%{
        margin-left: 100%;
        color: lightskyblue;
    }
    25%{
        color: deepskyblue;
        font-size: 30px;
    }
    50%{
        color: blue
        font-size: 45px;
    }
    75%{
        color: darkblue;
        font-size: 70px;

    }
    100%{
        color: deepskyblue;
        font-size: 60;
    }
}
#last{
    animation-name: last;
    animation-duration: 4s;
    font-size: 70px;
    margin-right: 0%;
    color: orange;

    
}
@keyframes last{
    0%{
        margin-left: 80%;
        color: yellow;
    }
    25%{
        color: yellowgreen;
        font-size: 30px;
    }
    50%{
        color: palegreen;
        font-size: 45px;
    }
    75%{
        color: green;
        font-size: 70px;

    }
    100%{
        color: darkgreen;
        font-size: 60;
    }
}
#myProfile{
width: 40%;
height: auto;
margin-top: 5vh;
margin-left: 0vw;

}
main{
    
    height: 100vh;
    width: 100vw;
    text-align: center;
    }
#layers{
    margin-top: 0;
    margin-left: 0;
    margin: 0 auto;
position: inherit;
    }
    section{
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
        border: none;
        overflow-x: hidden;
    }
    
.hid{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s ;
    background-color: transparent;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}
