body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.spacer2{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10;
}
nav{
    background-color: black;
}
.layer1{
    background-image: url('images/layer4.svg');
    text-align: center;
    }
    .layer2{
        text-align: center;
    background-image: url('images/layer3.svg');
    }
    .layer3{
        text-align: center;
background-image: url('images/bla.svg');
    }
    #pp{
        background-color: white;
        align-items: center;
        margin-top: 5vh;
        margin-left: 0vw;
        display: block;
        width: 100vw;
    }
    .img-rounded{
        margin-left: 40vw;
    }
    .btn{
        margin-top: 2vh;
        font-size: 1.5rem;
        margin-left: 42vw;
    }
    span{
        padding: 20px;
    }
img{
    width: 20vw;
    border-radius: 100%;
}
ul li{
    text-align: center;
    text-decoration: none;
    margin-right: 0vw;
    
}
#call{
    margin-left: 0vw;
}